<div class="row">
	<div class="col-md-6 offset-md-3 mt-4">
		<h3>Register New User</h3>
		<form #f="ngForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="registerEmail">Email</label>
				<input type="email" name="Email" [(ngModel)]="model.Email" required #email="ngModel"
					class="form-control" id="registerEmail" placeholder="Enter email">
			</div>
			<div class="form-group">
				<label for="registerPassword">Password</label>
				<input type="password" name="Password" [(ngModel)]="model.Password" required #password="ngModel"
					class="form-control" id="registerPassword" placeholder="Password">
			</div>
			<div class="form-group">
				<label for="registerConfirmPassword">Confirm Password</label>
				<input type="password" name="ConfirmPassword" [(ngModel)]="model.ConfirmPassword" required
					#password="ngModel" class="form-control" id="registerConfirmPassword" placeholder="ConfirmPassword">
			</div>
			<input type="checkbox" name="terms" id="terms"> I Agree to Terms & Coditions
			<br> <br>
			<button type="submit" [disabled]="f.invalid" class="btn btn-primary">Register <i
					class="fas fa-sign-in-alt"></i></button>
		</form>
	</div>
</div>